<div class="page-header">
  <h1>Add a New Movie</h1>
</div>

<div class="row">
  <div class="col-md-6">

    <%= form_tag movies_url, :method => 'post' do %>

      <div class="form-group">
        <%= label_tag :title %>
        <%= text_field_tag :title, "", class: 'form-control', placeholder: 'Enter movie title here' %>
      </div>

      <div class="form-group">
        <%= label_tag :director_id, "Director" %>
        <%= select_tag :director_id, options_from_collection_for_select(Director.all.order('name asc'), :id, :name), class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag :poster_url %>
        <%= url_field_tag :poster_url, "", class: 'form-control', placeholder: 'Enter URL to a movie poster image' %>
      </div>

      <div class="form-group">
        <%= label_tag :year %>
        <%= text_field_tag :year, "", class: 'form-control', placeholder: "Enter year here" %>
      </div>

      <div class="form-group">
        <label for="year">Plot Summary:</label>
        <input type="text" name="plot" class="form-control" id="year" placeholder="Enter year here" %>
      </div>

      <%= submit_tag 'Add Movie', class: 'btn btn-default' %>
    <% end %>

  </div>
</div>

